<div class="post text-en">
<p><strong>What are ACM and ACM Student Chapter?</strong></p>
<p>ACM is widely recognized as the premier membership organization for computing professionals, delivering resources
  that advance computing as a science and a profession; enable professional development; and promote policies and
  research that benefit society.</p>
<p>ACM hosts the computing industry's leading Digital Library and Guide to Computing Literature, and serves its global
  members and the computing profession with jouals and magazines, conferences, workshops, electronic forums, and
  Online Books and Courses.Hundreds of ACM Professional and Student Chapters provide opportunities for networking on a
  local level.</p><p><br/> <strong>University of Tehran ACM Student Chapter</strong></p>
<p>University of Tehran ACM Student Chapter was charted by the action of the
  Membership Activities Board of the Association for Computing Machinery on <strong>Jan. 10, 2001</strong>.<br/>UT ACM
  Student Chapter is a group of dedicated people who are interested in exploring the possibilities of computers and
  leaing more about how to use and develop them. UT ACM student chapter is made up of several interacting components
  (committees). Some of them are mentioned below:</p>
<ul>
  <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;Student Chapter Moderation Committee</li>
  
  <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;ACM Programming Contest Technical Committee</li>
  
  <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;ACM AI Contest Committee</li>
  
  <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;ACM journal Committee</li>
  
  <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;ACM Seminar &amp; Workshop Committee</li>
  
  <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;ACM Software Bank members</li>
  
</ul><p>All ACM activities are open to the entire University community, regardless of computer experience and
  background.</p><p><strong>History of ACM student chapter of University of Tehran</strong></p>
<p>ACM student chapter of University of Tehran began its activity on 2001/1/10 as the first ACM student chapter in
  Iran.</p>
<p>The motivation of forming this chapter is to promote knowledge level of computer students in different areas of
  computer science. Cooperation with students who have creative ideas in different scientific programs, encouraging them
  to pursue their ideas, and helping them to improve the ideas is another goal of creation of such a chapter.</p>
<p>Moderation of this student chapter needs one supervisor and usually about four students to communicate with
  university and coordinate different programs of the chapter. These four or five students are chosen by an election
  that is held in May every year. The candidate students need to introduce themselves as a team to participate in the
  election. In the last four years of its activity, there has always been at least one woman in the moderation
  group.</p>
<p>This chapter is currently known as the scientific chapter of computer engineering department of university of
  Tehran.</p><p><strong>Contact Us:</strong></p>
<p><strong>Post address:</strong><br/>46502<br/>University of Tehran<br/>North Kargar ave<br/>PO Box 14395-515<br/>University
  College of Engineering<br/>Tehran,<br/>147<br/>IRAN</p><p><strong>Tel</strong>.<br/>+98 21 61114974</p>
<p><strong>Email Address<br/></strong>ut.acm.chapter@gmail.com</p>

</div>