<div class="post">
<p style="text-align: justify;">University of Tehran ACM Student Chapter was
  charted by the action of the Membership Activities Board of the Association for Computing Machinery on
<strong>Jan. 10, 2001</strong>.</p><p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;"><strong><strong>From November 2014
  to&nbsp;<strong><strong><strong><strong>Now</strong></strong></strong>:<br/>Chair:<strong>&nbsp;<strong><strong><strong><strong><a href="mailto:a.dadfarnia[AT]ut.ac.ir">Amirreza
  Dadfarnia</a></strong></strong></strong></strong></strong><br/>Vice Chair:
  <a href="mailto:h2asghari[AT]gmail.com"><span style="text-decoration: underline;">Hosein Asghari</span></a><br/>Treasurer:
  <a href="mailto:h.habibnia[AT]gmail.com">Hooman Habbibnia</a><br/>Secretary:
  <a href="mailto:saraj.no[AT]gmail.com"><span style="text-decoration: underline;">Sara Javadzadeh</span></a><br/>Webmaster:&nbsp;<a href="mailto:yfaraz[AT]yahoo.com"><strong>Faraz Yazdani</strong></a><br/>Executive Membership Chairperson:&nbsp;<a href="mailto:mohammadbabamahmoudi[AT]gmail.com"><strong>Mohammad Babamahmoudi</strong></a><br/>Faculty
  Sponsor:<strong>&nbsp;<a href="mailto:rkhosravi[AT]ece.ut.ac.ir">Dr. Ramtin Khosravi</a></strong></strong></strong></strong>&nbsp;</p>
<p style="text-align: justify;"><strong><strong>From Jan 2014
  to&nbsp;<strong><strong><strong><strong>November</strong></strong></strong>:<br/>Chair:&nbsp;<a href="mailto:pejmanhosseini[AT]acm.org">Pejman
  Hosseini</a><br/>Vice Chair:
  <a href="mailto:navidsaleh[AT]acm.org"><span style="text-decoration: underline;">Navid Saleh</span></a><br/>Treasurer:
  <a href="mailto:mohammad.mdoust[AT]gmail.com">Mohammad Mahdavi Doust</a><br/>Secretary:
  <a href="mailto:shervin.h.esmaili[AT]gmail.com"><span style="text-decoration: underline;">Shervin Haji
    Esmaili</span></a><br/>Webmaster:&nbsp;<a href="mailto:mohibeyki[AT]acm.org">Mohammad Reza Beyki</a><br/>Faculty
  Sponsor:&nbsp;<a href="mailto:rkhosravi[AT]ece.ut.ac.ir">Dr. Ramtin Khosravi</a></p>
<p><strong><strong>From Jan 2013 to&nbsp;<strong><strong><strong><strong>Jan
  2014</strong></strong></strong>:<br/></strong></strong></strong>Chair:&nbsp;<a href="mailto:aryaz.egh[AT]gmail.com">Aryaz
  Eghbali</a><br/>Vice Chair:&nbsp;<a href="mailto:mahdianpeyman[AT]gmail.com">Peyman Mahdian</a><br/>Treasurer:&nbsp;<a href="mailto:pejmanhosseini[AT]ut.ac.ir">Pejman
  Hosseini</a><br/>Secretary:&nbsp;<a href="mailto:p.rezakhani[AT]ut.ac.ir">Pouyan Rezakhani</a><br/>Webmaster:
  <a href="mailto:sinas1991[AT]gmail.com">Sina Saharkhiz</a><br/>Faculty
  Sponsor:&nbsp;<a href="mailto:rkhosravi[AT]ece.ut.ac.ir">Dr. Ramtin Khosravi</a></p><p>
  <strong><strong>From May 2012 to <strong><strong><strong><strong>Jan
    2013</strong></strong></strong>:<br/></strong></strong></strong>Chair:&nbsp;<a href="mailto:s.babak.mehrabi[AT]gmail.com">Babak
  Mehrabi</a><br/>Vice Chair:&nbsp;<a href="mailto:mmonavvarian[AT]gmail.com">Matin Monavvarian</a><br/>Treasurer:&nbsp;<a href="mailto:m.aminimani[AT]gmail.com">Mohammad
  Amin Imani</a><br/>Secretary:&nbsp;<a href="mailto:hne1991[AT]gmail.com">Hasan Nasr Esfahani</a><br/>Webmaster:&nbsp;<a href="mailto:hoosssein[AT]gmail.com">Hossein
  Nasr Esfahani</a><br/>Faculty Sponsor:&nbsp;<a href="mailto:rkhosravi[AT]ece.ut.ac.ir">Dr. Ramtin Khosravi</a>
</p>
<p><strong>From May 2011 to May 2012:</strong><br/> Chair: <a href="mailto:hamedzamani@acm.org">Hamed Zamani</a><br/>
  Vice Chair:&nbsp;<a href="mailto:behnood1370@yahoo.com">Behnood Momenzadeh</a><br/> Treasurer:
  <a href="mailto:tavakolireza@acm.org">Reza Tavakoli</a><br/> Secretary:
  <a href="mailto:mahsa.forati@gmail.com">Mahsa Forati</a><br/> Faculty Sponsor:
  <a href="mailto:rkhosravi@ece.ut.ac.ir"> Dr. Ramtin Khosravi</a></p>
<p><strong>From May 2010 to May 2011:</strong><br/> Chair:
  <a href="mailto:farzanehgh@yahoo.com">Farzaneh Ghods</a><br/> Vice Chair:
  <a href="mailto:amir.s@acm.org">Amir Saboury</a><br/> Treasurer:
  <a href="mailto:oxment@yahoo.com">Mani Shafaat Doost</a><br/> Secretary:
  <a href="mailto:pbehghader@yahoo.com">Pouyan Behnam Ghader</a><br/> Membership Chair:
  <a href="mailto:nik.shakeri@gmail.com">Niki Shakeri</a><br/> Faculty Sponsor:
  <a href="mailto:fakhraii@ut.ac.ir">Dr. S. Mehdi Fakhraie</a></p>
<p><strong>From May 2009 to May 2010:</strong><br/> Chair:
  <a href="mailto:nyaghmazadeh@yahoo.com">Navid Yaghmazadeh</a><br/> Vice Chair:
  <a href="mailto:ariab67@yahoo.com">Aria Barfar</a><br/> Secretary:
  <a href="mailto:e.songhori@gmail.com">Ebrahim Songhori<br/> </a> Treasurer:
  <a href="mailto:sepideh.kamrava@gmail.com">Sepideh Kamrava<br/></a> Faculty Sponsor:
  <a href="mailto:fakhraii@ut.ac.ir">Dr. S. Mehdi Fakhraie</a></p>
<p><strong>From May 2008 to May 2009:</strong><br/> Chair:
  <a href="mailto:ahmadsabouri@gmail.com">Ahmad Sabouri</a><br/> Vice Chair:
  <a href="mailto:ah.shahvarani@gmail.com">Amir Hesam Shahvarani</a><br/> Secretary:
  <a href="mailto:fara8877@yahoo.com">Fatemeh Rajabi</a><br/> Treasurer:
  <a href="mailto:o.zilouchian@gmail.com">Omid Zilouchian</a><br/> Faculty Sponsor:
  <a href="mailto:fakhraii@ut.ac.ir">Dr. S. Mehdi Fakhraie</a></p>
<p><strong>From May 2007 to May 2008:</strong><br/> Chair:
  <a href="mailto:cyclops_sh@yahoo.com">Shahbaz Yousefi</a><br/> Vice Chair:
  <a href="mailto:pardis.noorzad@gmail.com">Pardis Noorzad</a><br/> Secretary:
  <a href="mailto:kamran.massoudi@kimengi.com">Kamran Massoudi</a><br/> Treasurer:
  <a href="mailto:ahmadsabouri@gmail.com">Ahmad Sabouri</a><br/> Faculty Sponsor:
  <a href="mailto:fakhraii@ut.ac.ir">Dr. S. Mehdi Fakhraie</a></p>
<p><strong>From May 2006 to May 2007:</strong><br/> Chair:
  <a href="mailto:m.j.izadi@gmail.com">Mohammad Javad Izadi Najafabadi</a><br/> Vice Chair:
  <a href="mailto:shamim1386@yahoo.com">S. Shamim Taheri</a><br/> Secretary:
  <a href="mailto:mh.zokaei@gmail.com">Mohammad Hassan Zokaei Ashtiani</a><br/> Treasurer:
  <a href="mailto:cyclops_sh@yahoo.com">Shahbaz Yousefi</a><br/> Faculty Sponsor:
  <a href="mailto:fakhraii@ut.ac.ir">Dr. S. Mehdi Fakhraie</a></p>
<p><strong>From November 2004 to May 2006:</strong><br/> Chair:
  <a href="mailto:mohammadmahdi.keramati@ens.fr">Mohammad Mahdi Keramati</a><br/> Vice Chair:
  <a href="mailto:m.j.izadi@gmail.com">Mohammad Javad Izadi Najafabadi</a><br/> Secretary:
  <a href="mailto:m.moghimi@gmail.com%20">Mohammad Moghimi Najafabadi</a><br/> Treasurer:
  <a href="mailto:soheil_amz@yahoo.com">Soheil Aminzadeh</a><br/> Faculty Sponsor:
  <a href="mailto:fakhraii@ut.ac.ir">Dr. S. Mehdi Fakhraie</a></p>
<p><strong>From November 2003 to November 2004:</strong><br/> Chair:
  <a href="mailto:naeeem@gmail.com">Naeem Esfahani</a><br/> Vice Chair:
  <a href="mailto:hajhossein81@yahoo.com">Hossein Hojjat</a><br/> Secretary:
  <a href="mailto:hooman3ir@yahoo.com">Hooman Bande Moghaddam</a><br/> Treasurer:
  <a href="mailto:cignusus@yahoo.com">Behzad Mozaffari</a><br/> Faculty Sponsor:
  <a href="mailto:fakhraii@ut.ac.ir">Dr. S. Mehdi Fakhraie</a></p>
<p><strong>From April 2002 to November 2003:</strong><br/> Chair:
  <a href="mailto:slkamalian@yahoo.com">Saleh Kamalian</a><br/> Vice Chair: Mohsen Yusefpour<br/> Secretary: Ali
  Rabbani Rankuhi<br/> Treasurer: Mahdi Bijani<br/> Faculty Sponsor:
  <a href="mailto:foroumchian@acm.org">Dr. Farhad Oroomchian</a></p>
<p><strong>From January 2001 to April 2002:</strong><br/> Chair:
  <a href="mailto:mhossein@gmail.com">Mohammad Hossein Sheikh Attar</a><br/> Vice:
  <a href="mailto:slkamalian@yahoo.com">Saleh Kamalian</a><br/> Secretary:
  <a href="mailto:kamran.farhadi@gmail.com">Kamran Farhadi</a><br/> Treasurer:
  <a href="mailto:beroy2000@gmail.com">Behnam Robatmili</a><br/> Faculty Sponsor:
  <a href="mailto:foroumchian@acm.org">Dr. Farhad Oroomchian</a></p>

</div>