<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body style="direction: rtl">
<%= raw body %>
<p style="margin-top: 30px;">شاخه‌ی دانشجویی ای‌سی‌ام</p>

</body>
</html>