<div class="content container-fluid">
  <div class="col-md-10 col-md-offset-1 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="post">
      <%= render 'posts/post', post: @post, summary: false %>

      <% if current_user and current_user.is_admin? %>
          <div class="post-more">

            <%= link_to I18n.t('destroy'), post_path(:id=>@post.id), :class => 'btn btn-default',:method => :delete %>
            <%= link_to I18n.t('cancel'), posts_path, :class => 'btn btn-default' %>
            <%= link_to I18n.t('edit'), edit_post_path(@post), :class => 'btn btn-primary ' %>
          </div>
      <% end %>
    </div>
  </div>
</div>