<a id="like<%= votable.id %>" data-method="post" data-remote="true" href="<%=loke_post_path%>/<%= votable.id %>" rel="nofollow">
  <div class="like-btn">
    <span>
      <i class="fa fa-thumbs-up fa-2x"></i>
    </span>
  </div>
</a>
<div class="liked-num">
  <%= votable.votes_for.up.size() %>
</div>
